body {
 background-color: #181818; 
}

section{
    text-align: center;
    width: 59.9%;
    border: 3px solid PaleGreen;
    margin-left: 20em;
    border-radius: 3px;
}

#location{
    width: 60.3%;
    margin-left: 20em;
    background-color: PaleGreen;
    border-radius: 3px;
    height:2em;
    line-height: 2em;
}
h1{
   color:gainsboro; 
   font-family: cursive;
   font-size: 1.5em;
}

h2{
   color:lawngreen	; 
   font-family: cursive;
   font-size: 2em;
}

h3{
    color: black; 
   font-family: monospace;
   font-size: 1.5em; 
   margin-left: 1em;
}

h7{
    width:40%;
    margin-left: 20em;
    color: gold;
    font-family: monospace;
    font-size: 1.4em;
    text-align: left;
    visibility: hidden;
}

h4{
    width:40%;
    margin-left: 20em;
    color: PaleGreen;
    font-family: monospace;
    font-size: 1.4em;
}

h5{
    width:40%;
    margin-left: 21em;
    color: gold;
    font-family: monospace;
    font-size: 1.4em;
    text-align: left;
   visibility: hidden;
}


h6{
    width:40%;
    margin-left: 20em;
    color: PaleGreen;
    font-family: monospace;
    font-size: 1.4em;
    text-align: left;
    visibility: hidden;
}

#status{
    text-align: center;
    width: 100%;
    background-color: PaleGreen;
    height:2em;
    line-height: 2em;
}

p {
    width:40%;
    margin-left: 18.5em;
    line-height: 1.4em;
    color: white;
    font-family: cursive;
    font-size: 1.2em;
}

#explore{
    margin-left: 24em;
    text-align: center;
    height:2em;
    line-height: 0.6em;
    width: 6em;
    font-size: 1em;
    font-family: cursive;
    border:4px solid DeepPink;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    background: DeepPink;
}

#options{
    margin-left: 24em;
    text-align: center;
    height:2em;
    line-height: 0.6em;
    width: 9em;
    font-size: 1em;
    font-family: cursive;
    border:4px solid DeepPink;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    background: DeepPink;
    visibility: hidden;
}

hr{
    width:60%;
    opacity:60%;
    visibility: hidden;
}

a{
    margin-left: 20.5em;
     font-size: 1.2em;
    color: lawngreen;
     font-family: cursive;
     line-height: 2em;
    visibility: hidden;
}

#back{
    margin-left: 22em;
    text-align: center;
    height:3em;
    line-height: 0.6em;
    width: 16em;
    font-size: 1.1em;
    font-family: cursive;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}